html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    color: #1c1c1c;
}

.bg-hero {
    background-color: #eee;

}

.nav-link {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #1abc9c;
    font-weight: 500;
}

.navbar-brand {
    font-size: 2rem;
}

.landing-content p {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.25rem;
}

.landing-content h2 {
    font-size: 4.3rem;
    font-weight: 900;
    line-height: 1;
}

.landing-content a {
    font-size: 1.20rem;
}

.about-cir {
    width: 220px;
    height: 220px;
    background-color: #16a085;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-cir h2 {
    font-size: 3rem;
    font-weight: 900;
}

.so-icon {
    font-size: 2.1rem;
    margin-right: 10px;
    color: #16a085 !important;
}

.so-icon:hover {
    color: #1abc9c !important;
}

#portfolio {
    background: #ECEBE4;
    background-image: url(../images/rough_diagonal.png);
    background-attachment: fixed;
}

.btn {
    background-color: #16a085;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color:#1abc9c;
}

.footer {
    background-color: #444;
}

.footer-link {
    color: #1abc9c;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: none;
    color: #20dbb6;
}