html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
}

.bg-grey {
    background-color: #f4f4f4;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link.active {
    font-weight: 500;
}

.carousel-icon {
    font-size: 15rem;
}

.navbar-brand {
    font-size: 2rem;
}

.landing-content p {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0.25rem;
}

.landing-content h2 {
    font-size: 4.3rem;
    font-weight: 900;
    line-height: 1;
}

.landing-content a {
    font-size: 1.20rem;
}

.my-img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #333;
    padding: 3px;
}

#portfolio {
    background: url(../images/cubes-bg.png);
    background-attachment: fixed;
    background-position: center;
}